PORT=3002
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=polybaskets_rewards
DB_SYNCHRONIZE=false

NODE_URL=wss://archive-rpc.vara.network
FREEBET_LEDGER_ID=0x...
REWARDS_ACCOUNT="seed phrase or //Alice or 0x..."

X_BEARER_TOKEN=...
POLYBASKETS_X_USERNAME=poly_baskets
ADMIN_API_KEY=
